/**********/
/* Colors */
/**********/
$color1:				#f8f8f8;
$color2:				#00ACf1;
$color3:				#eaeaea;
$color4:				#06a700;
$color5:				#edb600;
$color6:				#eee;
$color7:				#35475B;
$primary-text-color:	#333333;
$secondary-text-color:	#7b7b7b;
$border-color:			#999;
$border-color2:			#ccc;
$white:					#fff;
$black:					#000;

/*************/
/* Font-size */
/*************/
$lists:		11px;
$headline:	20px;
$col-head:	9px;
$dec-text:	15px;
$hover-text:10px;